# GitHub OAuth for Main Admin
GITHUB_CLIENT_ID=********************
GITHUB_CLIENT_SECRET=**********************
GITHUB_REDIRECT_URI=http://localhost:4321/admin/auth/callback

# Better Auth Configuration
BETTER_AUTH_SECRET=********************
BETTER_AUTH_URL=http://localhost:4321

# Website Configuration
WEBSITE_URL=http://localhost:4321